[Unit]
Description=Xray Auto-Update Timer
Requires=xray-auto-update.service

[Timer]
OnBootSec=10min
OnUnitActiveSec=2d
Persistent=true

[Install]
WantedBy=timers.target